@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
    header h1 {
        font-size: 5.5em;
    }
    
    header .subheading {
        font-size: 2em;
    }
    
    nav ul li a {
        padding: 0.8rem 2rem;
    }
    
   
        
   
    main h2 {
        margin: 0.5em 1.75em 0 1.75em;
        padding: 0.3em 0 0 0;
        font-size: 4em;
    }
    
    main h3 {        
        font-size: 1.69em;
    }
    
    
    table {
        font-size: 20px;
        width: 90%;
    }

    table th, td {
        border: 0.5px solid black;
    }
    
   
    
    footer {
        font-size: 1.3em;
    }
    
    
    
 
    
}
